{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Celestia</title>
<link rel="stylesheet" href="{% static 'styles/main.css' %}">
<style>
    /* Background Image (css file can't access Django static file) */
    .background-image {
        height: 70vh;
        background-image: url("{% static 'assets/templates/Background.png' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(0.6);
        z-index: -1;
    }
</style>
{% endblock meta %}

{% block content %}
<nav class="app-bar">
    <a href="{% url 'main:show_main' %}"><img src="{% static 'assets/logo/Horizontal.png' %}" alt="Logo"></a>
    <div class="options">
        <a href="{% url 'main:create_product' %}">Add New Item</a>
        <a href="{% url 'main:logout' %}">Logout</a>
    </div>
</nav>

<div class="background-image"></div>

<div class="main">
    <p> Hello {{ username }}! </p>
    {% if not all_products %}
        <p class="not-found">Belum ada produk yang tersimpan!</p>
    {% else %}
    <div class="table-container">
        <table>
            <tr>
                <th>Nama Produk</th>
                <th>Harga</th>
                <th>Deskripsi</th>
                <th>Stok</th>
                <th>Chara</th>
                <th>Game</th>
                <th>Category</th>
                <th>Image</th>
            </tr>

            {% for product in all_products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price_with_comma}}</td>
                <td>{{product.description}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.chara}}</td>
                <td>{{product.game}}</td>
                <td>{{product.category}}</td>
                <td><img src="{{product.image}}" width="100"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <h5> You have been here for {{ last_login }}.</h5>
</div>

<footer>
    <p>Made by Daniel Liman - 2306220753 - PBP F</p>
</footer>
{% endblock content %}