{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Celestia</title>
<link rel="stylesheet" href="{% static 'styles/main.css' %}">
{% endblock meta %}

{% block content %}
<div class="app-bar">
    <img src="{% static 'assets/logo/Horizontal.png' %}" alt="Logo">
    <div class="options">
        <a href="{% url 'main:create_product' %}">Add New Item</a>
        <a href="{% url 'admin:index' %}" target="_blank">Login</a>
    </div>
</div>
<div class="main">
    <img src="{% static 'assets/dev/Test.jpeg' %}" alt="Product Image - {{name}}">
    <div class="data">
        <p class="name">{{ name }}</p>
        <p class="price">IDR {{ price_with_comma }}</p>
        <p class="description">{{ description }}</p>
        <div class="row">
            <span class="label">Character</span>
            <span class="tag">{{ chara }}</span>
        </div>
        <div class="row">
            <span class="label">Game</span>
            <span class="tag">{{ game }}</span>
        </div>
        <div class="row">
            <span class="label">Category</span>
            <span class="tag">{{ category }}</span>
        </div>
    </div>
</div>
{% if not all_products %}
    <p>Belum ada produk lainnya.</p>
{% else %}
    <table>
    <tr>
        <th>Nama Produk</th>
        <th>Harga</th>
        <th>Deskripsi</th>
        <th>Stok</th>
        <th>Chara</th>
        <th>Game</th>
        <th>Category</th>
        <th>Image</th>
    </tr>

    {% for product in all_products %}
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.price_with_comma}}</td>
        <td>{{product.description}}</td>
        <td>{{product.stock}}</td>
        <td>{{product.chara}}</td>
        <td>{{product.game}}</td>
        <td>{{product.category}}</td>
        <td>{{product.image}}</td>
    </tr>
    {% endfor %}
    </table>
{% endif %}

<footer>
    <p>Made by Daniel Liman - 2306220753 - PBP F</p>
</footer>
{% endblock content %}